h1{
    color: rgb(216, 43, 31);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
    ;
    cursor: pointer;
   
}
.backg{
    background-color: rgb(125, 193, 159);
}
#color-change{
    color: rgb(182, 218, 243);
    font-size: 24px;
    box-shadow: 2px 2px 4px #888888;
    cursor: not-allowed;
}