body{
    position: relative;
}
#up1{
    background-color: #FF0000;
    width: 100%;
    height: 20px;
    position: relative;
    
}
#up1 .up{
    position: absolute;
    background-color: #F08080;
}
#up1 #upD1{
    left: 0;
    
}
#up1 #upD2{
    left: 50%;
    
}
#up1 #upD3{
    right: 0;
}

#cntr-laft{
    left: 0;
    top: 20px;
    background-color: #FFEBCD;
    width: 200px;
    height: 400px;
    position: absolute;
    
}
#cntr-laft .cntr-laft{
    /* padding-bottom: 10px; */
    background-color: #DAA520;
    margin:  10px 0;
} 
#cntr-laft #contr-laftD5{
    position: absolute;
    background-color: #ff7f50;
    margin:  100px 50px;
}
#cntr-right{
    right: 0;
    top: 20px;
    background-color: #ADD8E6;
    width: 835px;
    height: 400px;
    position: absolute;
}
#cntr-right #cntr-rightD1{
    position: absolute;
    left: 50%;
    top: 50%;
}
#down{
    top: 420px;
    background-color: #FFC0CB;
    height: 100px;
    width: 100%;
    position: absolute;
}
#downD1{
    position: absolute;
    left: 50%;
    top: 50%;
}



